@charset "UTF-8";
	h1 {
		margin-top: 30px;
        font-size: 2.5rem; 
	    color: #e1418b;
	    text-align: center;
	    font-weight: bold;
	}
	h2 {
/*         color: #e1418b; */
        color: ivory;
        height: 80px;
        text-align: center;
    }
    
	body {
	    font-family: Arial, sans-serif;
	    background-color: #2e2b4f;
	    color: #ffffff;
	}
	
	.content {
	    background-color: #49456d;
	    padding: 20px;
	    border-radius: 10px;
	    margin-bottom: 20px;
	    text-align: center;
	    font-size: 20px;
	    color: ivory;
	    width: 80%;
	    margin: auto;
        margin-bottom: 150px;
	}
	
	.form-wrapper {
		display: flex;
		margin: auto;
/* 	    gap: 20px; */
/* 	    padding: 20px; */
	}
	
	.container-pulsanti {
		
		width:75%;
		margin:auto;
/* 		padding: 20px; */
	}
	
	.form-container {
		display: block;
	    background-color: #49456d;
	    padding: 20px;
	    border-radius: 10px;
	    width: 150px;
	    text-align: center;
		margin: 10px;
		flex: 1 0 150px; /* Dimensione minima dei contenitori */
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra */
		transition: transform 0.3s, box-shadow 0.3s; /* Transizione per hover */
	}
	
	.form-container:hover {
		transform: translateY(-5px); /* Effetto sollevato al passaggio del mouse */
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Ombra più profonda */
	}
	.form-button {
		display: flex;
		flex-wrap: wrap;
		justify-content: center; /* Centratura dei pulsanti */
		margin: 20px 0;
		vertical-align: bottom;
	}
	
	form {
/* 	    background-color: #49456d; */
	    padding: 20px;
	    border-radius: 10px;
	    width: 300px;
	    height: auto; /* Permette al contenuto di determinare l'altezza */
	    margin: 0 auto; /* Centra orizzontalmente */
	}
	
	button, a.button {
	    width: 100%;
	    padding: 10px;
	    background-color: #f5835e;
	    border: none;
	    border-radius: 5px;
	    color: #2e2b4f;
	    text-align: center;
	    cursor: pointer;
		padding: 10px 20px;
		transition: background-color 0.3s, transform 0.3s; /* Transizione */
		text-decoration: none;
	}
	button:hover, a.button:hover {
	    background-color: #f96737;
	    color: #ffffff;
		transform: translateY(-2px); /* Effetto sollevato */
		text-decoration: none;
	}
	