@charset "UTF-8";
	.navbar-container {
        display: flex;
        justify-content: space-around;
    }

    .navbar-nav {
        background-color: #2e2b4f;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
    }

    .nav-link {
        text-decoration: none;
        font-weight: bold;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.3s, transform 0.2s;
/*         transition: background-color 0.3s ease, color 0.3s ease; */
        margin-right: 5px;
        font-size: 16px;
    }

    .nav-link:hover {
        background-color: #8a79c7;
        transform: scale(1.05);
	}
	
	.left-navbar {
	    display: flex;
	    align-items: center; /* Allinea gli elementi verticalmente */
		gap: 10px;
		padding: 0 15px;
	}
	
	.right-navbar {
	    display: flex;
	    gap: 10px;
	    position: absolute;
	    right: 50px;
	    padding: 0 15px;
	}
	
	.custom-navbar {
	    background-color: #49456d;
	    padding: 10px;
/* 	    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
	    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}
	
	.btn {
		color: ivory;
		border-radius: 25px; /* Angoli arrotondati per i pulsanti */
	    border: none;
	    background-color: transparent;
	    
        padding: 10px 20px; /* Padding per i pulsanti */
        margin: 0 5px; /* Margine tra i pulsanti */
	}
	
	.btn:hover {
	    background-color: rgba(255, 255, 255, 0.1);
	}
	
	/* Stile per il logo */
	.logo-img {
	    width: 50px; /* Dimensioni ridotte del logo */
	    height: auto; /* Mantieni le proporzioni */
	}